<br />

<div class="container-fluid">
  <div class="lesson-box col-xs-8 col-xs-offset-2">
    <h1>
      <%= current_lesson.title %>
    </h1>
    <p class="lesson-subtitle">
      <%= current_lesson.subtitle %>
    </p>
    <div class="videocontent text-center">
      <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="auto" height="auto" poster="/assets/black.jpg" data-setup="{}">
      <source src="<%= current_lesson.video.to_s%>" type='video/mp4'>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
      </video>
    </div>
    <div class="next-button col-xs-8 col-xs-offset-2">
      <% if current_lesson.next_lesson.present? %> 
        <%= link_to lesson_path(current_lesson.next_lesson), :class => 'btn btn-default btn-lg btn-block' do %>
          Next lesson &nbsp;
          <span class="glyphicon glyphicon-forward"></span>
        <% end %> 
      <% end %>
    </div>
  </div>
</div>
