<br />

<div class="col-xs-10 col-xs-offset-1">
  <h1 class="course-headline text-center">Learn something today</h1>
  <br />

  <ul class="course-list">
    <% @courses.each do |course| %>
      <li class="course-box">
        <h2 class="course-title">
          <%= link_to course.title, course_path(course) %>
        </h2>

        <div class="course-description">
          <p>
            <%= course.description %>
          </p>
        </div>

        <div class="course-more-details">
            <%= link_to 'More Details...', course_path(course), :class => 'btn btn-success btn-default' %>
        </div>

      </li>
    <% end %>
  </ul>
</div>