@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,800);

body {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
  border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #095495;
    font-family: 'Exo 2', sans-serif;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}