@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,800);

body {
  font-family: 'Open Sans', sans-serif;
  //font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  background: url('bg.png');
  color: #525252;
}

.navbar {
  border-radius: 0;
  //box-shadow: 0px 0px 3px #2a2a2a;
  //background:url('brushed_@2X.png');
  background-color: #F7F8F5;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.navbar-default .navbar-brand {
    color: #53BF6B;
    font-family: 'Exo 2', sans-serif;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.hero {
  background: url('hero.jpeg') no-repeat center center fixed;
  height: 370px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background:rgba(0,0,0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius:0;
}

.booyah-box {
  position: relative;
  clear: both;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255,255,255,0.8);
  margin-top: 20px;
  padding: 25px;
}

.img-responsive {
  margin: auto;
  padding:15px;
  border:1px solid #FFFFFF;
  background-color: #FFFFFF;
}

.image-board {
  background-color: rgba(130,130,120,0.2);
  border: 10px;
  padding: 30px;
}

.lesson-box {
  position: relative;
  clear: both;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255,255,255,0.8);
  margin-top: 20px;
  padding: 25px;
}

.course-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.course-box {
    display: inline-block;
    position: relative;
    background: #F7F7F5;
    vertical-align: top;
    white-space: normal;
    width: 270px;
    height: 300px;
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
    text-align: left;
    margin: 10px 10px 10px 15px;
}

.course-box a {
  font-size: 20px;
}

.course-headline {
  color: #F7F8F5;
  padding: 15px;
}

.course-head {
  width: 100%;
  margin: 0;
//    padding: 10px;
}
.course-head #one {
  width: 80%;
  float: left;
  overflow: hidden;
}
.course-head #two {
  margin-left: 20%;
//  float: right;
  overflow: hidden;
}

.course-title {
  margin: 0px 10px 20px 10px;
}

.course-description {
  margin: 15px;
}

.course-more-details {
  margin: 15px 15px 15px 15px;
  position: absolute;
  bottom: 0;
  left: 18%;
}

.course-more-details a {
  font-size: 16px;
}

.lesson-box h1 {
  margin: 0px 0px 20px 0px;
}

//.booyah-box h2, .booyah-box h1 {
//  margin: 10px 0px 20px 0px;
//}

.forgot-password {
  margin: 20px 0px 0px 0px;
}

.clr {
  clear: both;
}

.has-error {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
  margin: 10px;
}

.videocontent {
  width: 80%;
  max-width: 640px;
}

.lesson {
  background-color: #D8D9D3;
  margin-top: 10px;
  height: 130px;
  padding: 20px;
}

.lesson a {
  color: #525252;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 15px;
  text-decoration: underline;
}

.lesson a b {
  font-weight: bold;
  font-size: 20px;
}

.lesson-subtitle {
  margin: 15px 0 30px;
}

.section {
//  border: 1px solid;
//  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.section span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

ul {
  list-style-type: none;
}

ul .header {
  font-size:25px;
}

ul .header .glyphicon {
  font-size:20px;
}

.section-li {
  border: 1px solid;
  background-color: white;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:20px;
  margin:20px;
}

.lessons li {
  background: #777777;
  color: white;
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 15px;
  padding: 8px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.next-button {
  margin: 20px 0 20px 0;
}

.alert-info {
  margin: 10px;
}

.divider {
  margin-top: 30px;
  margin-bottom: -10px;
  border: 0;
  border-top: 2px solid #ddd;
}

.homepage-subtitle {
  margin: 15px;
}

.glyphicon-play-circle {
  font-size: 100px;
}

.glyphicon-education {
  font-size: 100px;
}

.glyphicon-phone {
  font-size: 100px;
}



